block variables
block mixins

doctype html
html(lang="en")
	head
		title #{titleName} - #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href='css/vendors.min.css')
		link(rel="stylesheet", href=`${nameCss}`)
		script(src=`${nameScriptVendors}` type='module' defer)
	body
		.container
			block header

			main.main
				block main
			block footer
			block scripts
				script(src=`${nameScript}` type='module')
